<div class="transports-block">
  {% if transports is none %}
    <div>Вообще здесь должен быть блок доступных транспортов, но вы уже в городе отбытия</div>
  {% else %}
    <div class="itinerary-date-picker">
      <h2>Дата поездки</h2>
      <div class="date-block gap-4">
        <label>
          <input type="date" value="{{ session.start_date }}" id="start-date">
        </label>
        <div class="flex flex-col">
          <span class="font-medium">Обратно</span><span>{{ session.end_date | datetimeformat("d MMMM") }}</span>
        </div>
      </div>
    </div>
    {% if transports["there"]|length != 0 %}
      <div id="transports_items">
        <h2 class="text-2xl">Выбор транспорта</h2>
        <div class="flex flex-col gap-5">
          {% for direction, trips in transports.items() %}
            <div class="flex flex-col gap-4">
              {% if direction == "there" %}
                {% set direction_ru = "Туда" %}
              {% else %}
                {% set direction_ru = "Обратно" %}
              {% endif %}
              <h3 class="text-lg font-medium text-gray-800 tracking-tight">{{ direction_ru }}:</h3>

              <div class="flex flex-col gap-3" id="transports-groups-{{ direction }}">
                {% for tranport_group in trips|batch(3) %}
                  <div class="tranport-group flex flex-col gap-2 hidden"
                       data-index="{{ loop.index }}">
                    {% for transport in tranport_group %}
                      <label for="transport-{{ transport.uid }}">
                        <input class="peer hidden"
                               type="radio"
                               name="transport_{{ direction }}"
                               value="{{ transport.uid }}"
                               data-type="transport"
                               data-cost="{{ transport.start_cost_rub }}"
                               data-name="{{ transport.title }}"
                               data-datetime="{{ transport.departure }}"
                               id="transport-{{ transport.uid }}">
                        <div class="bg-neutral-100 peer-checked:ring-inset peer-checked:ring-2 peer-checked:ring-blue-500 px-5 py-6 rounded-lg cursor-pointer transition">
                          {% if transport.transport_type == "bus" %}
                            {% set transport_icon = "directions_bus" %} 
                          {% elif transport.transport_type == "train" %}
                            {% set transport_icon = "directions_railway_2" %} 
                          {% elif transport.transport_type == "suburban" %}
                            {% set transport_icon = "directions_subway" %} 
                          {% elif transport.transport_type == "plane" %}
                            {% set transport_icon = "flight" %} 
                          {% endif %}
                          <div class="flex gap-2">
                            <span class="material-symbols-outlined">
                              {{ transport_icon }}
                            </span> {{ transport.number }}
                          </div>
                          <div class="grid grid-cols-3 gap-6">
                            {% macro transport_time_block(datetime, station_title) %}
                              <div>
                                <div class="flex gap-2 items-start">
                                  <span class="text-2xl font-medium">{{ datetime | datetimeformat("HH:mm") }}</span>
                                  {{ datetime | datetimeformat("d MMMM") }}
                                </div>
                                <span class="font-medium">{{ station_title }}</span>
                              </div>
                            {% endmacro %}
                            {{ transport_time_block(transport.departure, transport.from_title) }}
                            {{ transport_time_block(transport.arrival, transport.to_title) }}
                            <div class="flex flex-col justify-between">
                              <div>{{ transport.duration }}</div>
                              <div class="font-medium">
                                {% if transport.start_cost_rub == None %}
                                  Информации о цене нет
                                {% else %}
                                  {{ transport.start_cost_rub }}₽
                                {% endif %}
                                <div class="text-gray-700">{{ transport.carrier.title }}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </label>
                    {% endfor %}
                  </div>
                {% endfor %}
                <button id="show-more-transports-{{ direction }}">Показать еще</button>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      Рейсов из {{ session.city.name }} в {{ route.cities[0].city.name }} на {{ session.start_date }} не найдено. Попробуйте поменять даты поездки
    {% endif %}
  {% endif %}
</div>
