version: "3.9"

services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - POSTGRES_HOST=db
    env_file:
      - .env
    depends_on:
      - db
    command: ["python3", "-m", "flask", "run", "--host=0.0.0.0"]
    deploy:
      resources:
        limits:
          memory: 512m
          cpus: "0.5"

  db:
    image: postgres:16
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    deploy:
      resources:
        limits:
          memory: 512m
          cpus: "0.5"

volumes:
  pgdata: