<!-- templates/partials/header.html -->
<header>
  <div class="logo-container">
    <a href="{{ url_for('views.catalog_routes') }}">
      <img src="{{ url_for('static', filename='img/logo.png') }}"
           alt="НаЛету"
           class="logo">
    </a>
    <span>Сервис планирования маршрутов</span>
  </div>
  {% if show_user_city %}
  <div class="relative">
    {% macro choosed_city(city) %}
      <div class="city-location" id="departureCity">
        <i class="material-symbols-outlined">location_on</i>
        <span id="cityName"
              data-city-id="{{ city.id }}"
              data-coords="{{ city.lat }},{{ city.lon }}">{{ city.name }}</span>
      </div>
    {% endmacro %}
    {{ choosed_city(user_city) }}
    <div class="cities-modal flex flex-col gap-2 absolute right-0 mt-2 p-3 w-48 top-full origin-top-right rounded-xl bg-white shadow-lg z-50 hidden">
      {% for city in cities %}
        <div class="item"
             data-city-slug="{{ city.slug }}"
             data-city-id="{{ city.id }}"
             data-coords="{{ city.lat }},{{ city.lon }}">{{ city.name }}</div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</header>
