@font-face {
    font-family: 'Cygre';
    src: url('./fonts/CYGRE-LIGHT.TTF') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Cygre';
    src: url('./fonts/CYGRE-REGULAR.TTF') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Cygre';
    src: url('./fonts/CYGRE-MEDIUM.TTF') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Cygre';
    src: url('./fonts/CYGRE-SEMIBOLD.TTF') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Cygre';
    src: url('./fonts/CYGRE-BOLD.TTF') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Cygre';
    src: url('./fonts/CYGRE-EXTRABOLD.TTF') format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'Cygre';
    src: url('./fonts/CYGRE-BLACK.TTF') format('truetype');
    font-weight: 900;
}
