// Цвета
$primary-color: #155BDD;
$primary-hover: #005bb5;
$success-color: #34c759;
$material-neutral-30: #48464C;
$material-neutral-60: #938F96;
$material-neutral-80: #CAC5CD;
$text-light: #555;
$text-dark: #333;
$bg-light: #f4f4f4;
$bg: #fff;
$bg-card: #F3F4F5;
$white: #fff;

// Общие значения
$border-radius-l: 32px;
$border-radius-m: 24px;
$border-radius-s: 12px;
$font-family-main: 'Cygre', sans-serif;
