<!-- templates/index.html -->
{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block script %}
  {% if is_dev %}
    <script defer type="module" src="{{asset('js/catalog/departure_city.js')}}"></script>
  {% endif %}
  <script defer type="module" src="{{asset('js/catalog/catalog.js')}}"></script>
{% endblock script %}
{% block content %}
  <h1 class="-mb-4">Куда поедем?</h1>
  {% set session_len = sessions | length %}
  {% if session_len != 0 %}
    {% include 'partials/catalog/user_sessions.html' %}
  {% endif %}
  {% include 'partials/catalog/routes.html' %}
{% endblock content %}
