<!-- templates/index.html -->
{% extends "base.html" %}
{% block title %}
  Выбрать маршрут
{% endblock title %}
{% block script %}
  <script defer type="module" src="{{ asset('js/trip-setup.js')}}"></script>
{% endblock script %}
{% block dataset_main %}
  data-session-uuid="{{ trip_session.short_uuid }}" data-count-other-participants="{{ other_travelers| length }}" data-is-voting-completed="{{ voting_attributes["is_voting_completed"] }}"
{% endblock dataset_main %}
{% block content %}
  {% if show_name_modal %}
    {% include 'partials/trip/setup/modal_enter_name.html' %}
  {% endif %}
  <div class="flex flex-col gap-3">
    {% set header = "Настройте поездку" %}
    {% set subheading = plan.title %}
    {% include 'partials/trip/page_header.html' %}

    <div class="flex flex-col gap-2">
      {% set departure_city_name = trip_session.departure_city_name %}
      {% include 'partials/trip/session_info.html' %}
      {% include 'partials/trip/setup/invite.html' %}
    </div>
  </div>
  {% include 'partials/trip/setup/route_day_options.html' %}
  {% if voting_attributes["is_voting_completed"] and other_travelers | length != 0 %}
    {% include 'partials/trip/setup/finished_voting.html' %}
  {% endif %}
  <button id="vote-and-to-itinerary" class="btn bg-primary">Проголосовать</button>
{% endblock content %}
