<!-- templates/index.html -->
{% extends 'base.html' %}
{% block title %}
  Главная
{% endblock title %}
{% block script %}
  <link rel="stylesheet"
        href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
          crossorigin=""></script>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
  <script src="https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=4410e526-6ed4-4303-af5b-e6be145e2460"
          type="text/javascript"></script>
  <script src="https://rawcdn.githack.com/shramov/leaflet-plugins/master/layer/tile/Yandex.js"></script>
  <link rel="stylesheet" href="{{ asset('js/common.css') }}" />
  <script defer type="module" src="{{asset('js/variables.js')}}"></script>
  <script defer type="module" src="{{asset('js/constants.js')}}"></script>
  <script defer type="module" src="{{asset('js/init_map.js')}}"></script>
  <script defer type="module" src="{{asset('js/leaflet.js')}}"></script>
  <script defer type="module" src="{{asset('js/transport.js')}}"></script>
  <script defer type="module" src="{{asset('js/trip-itinerary.js')}}"></script>
{% endblock script %}
{% block body %}
  <body class="layout-2col"
        id="body"
        data-session-id="{{ session.id }}"
        data-start-date="{{ session.start_date }}">
    {{ alert() }}
    <div class="itinerary-left px-1">
      {% include "partials/header.html" %}
      <div class="flex flex-col flex-1 gap-5 overflow-y-auto overflow-x-visible min-w-0"
           id="scroll-block-itinerary">
        <div class="flex flex-col gap-2">
          {% set header = "Маршрут" %}
          {% set subheading = route.title %}
          {% include 'partials/trip/page_header.html' %}
          {% include 'partials/trip/session_info.html' %}
        </div>
        {% include 'partials/trip/itinerary/transport_section.html' %}
        {% include 'partials/trip/itinerary/itinerary.html' %}
        {% include 'partials/trip/itinerary/budget.html' %}
      </div>
    </div>
    <div class="itinerary-right relative">
      <div id="map" class="map-box z-2"></div>
      <div class="similar-spots-block flex flex-col gap-2 left-6 rounded-xl w-2/3 absolute bottom-6 p-6 max-h-80 hidden bg-white z-10"
           id="similar-spots-block"></div>
    </div>
  </body>
{% endblock body %}
