<!-- templates/index.html -->
{% extends 'base.html' %}
{% block title %}
  Главная
{% endblock title %}
{% block script %}
  <script crossorigin
          src="https://cdn.jsdelivr.net/npm/@babel/standalone@7/babel.min.js"></script>
  <script src="https://api-maps.yandex.ru/v3?apikey={{ya_map_js_api_key}}&lang=ru_RU"
          type="text/javascript"></script>
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
  <script data-plugins="transform-modules-umd"
          data-presets="react, typescript"
          type="text/babel"
          src="{{asset('js/variables.ts')}}"></script>
  <script data-plugins="transform-modules-umd"
          data-presets="react, typescript"
          type="text/babel"
          src="{{asset('js/common.ts')}}"></script>
  <script data-plugins="transform-modules-umd"
          data-presets="react, typescript"
          type="text/babel"
          src="{{asset('js/index.ts')}}"></script>
  <link rel="stylesheet" href="{{ asset('js/common.css') }}" />
  <script defer type="module" src="{{asset('js/trip-itinerary.js')}}"></script>
{% endblock script %}
{% block body %}
  <body class="layout-2col"
        id="body"
        data-session-id="{{ session.id }}"
        data-start-date="{{ session.start_date }}">
    {{ alert() }}
    <div class="itinerary-left px-1">
      {% include "partials/header.html" %}
      <div class="flex flex-col flex-1 gap-5 overflow-y-auto overflow-x-visible min-w-0"
           id="scroll-block-itinerary">
        <div class="flex flex-col gap-2">
          {% set header = "Маршрут" %}
          {% set subheading = route.title %}
          {% include 'partials/trip/page_header.html' %}
          {% include 'partials/trip/session_info.html' %}
        </div>
        {% include 'partials/trip/itinerary/transport.html' %}
        {% include 'partials/trip/itinerary/itinerary.html' %}
        {% include 'partials/trip/itinerary/budget.html' %}
      </div>
    </div>
    <div class="itinerary-right relative">
      <div id="map" class="map-box"></div>
      <div class="similar-spots-block flex flex-col gap-2 left-6 rounded-xl w-2/3 absolute bottom-6 p-6 max-h-80 hidden bg-white"
           id="similar-spots-block"></div>
    </div>
  </body>
{% endblock body %}
